doctype html

html(lang='en')
  title Javascript Up
  link(rel='stylesheet', href='/application.css')
  script(src='/application.js')

body
  header
    h1 Javascript Up

  #content
    canvas#screen(height=600, width=800)
